.common-flex-column {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.common-button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: Pretendard-Regular, serif;
    transition: all 0.2s ease;

}

.common-button:hover {
    transform: scale(1.02);
}

.common-button:active {
    transform: scale(0.98);
}

.common-input {
    padding: 5px 10px;
    font-family: Pretendard-Regular, serif;
    border-radius: 4px;

    height: 22px;
    border: 3px solid transparent;
    outline: none; /* 브라우저 기본 포커스 효과 제거 */
    transition: border-color 0.2s ease;

}

.common-input:focus {
    border-color: rgba(255, 230, 166, 0.7);
    box-shadow: none;
}

.common-textarea {
    padding: 5px 10px;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    border-radius: 4px;

    border: 3px solid transparent;
    outline: none;
    transition: border-color 0.2s ease;
}

.common-textarea:focus {
    border-color: rgba(255, 230, 166, 0.7);
    box-shadow: none;
}

