.questionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #ffe6a6;*/
}

.questionContentContainer {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-background);
    padding: 25px;
    border-radius: 8px;
    width: 100%;
}

/* 오디오 관련 */
.audioButtonContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    max-width: 160px;
    height: 160px;
    max-height: 160px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.audioButtonContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audioButtonContainer > img {
    width: 60px;
    height: 60px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*높이와 너비를 지정해줘야 자식 이미지의 전체 부분이 출력*/
    width: 100vw;
    max-width: 500px;
    height: 300px;
    max-height: 300px;
    border-radius: 8px;
}

.questionImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* 사용자 정답 입력부 */
.answerInput {
    width: 100%;
    max-width: 300px;
    font-size: 0.9rem;
}


.submitButton {
    padding: 8px 12px;
    font-family: Pretendard-Bold, serif;
    font-size: 0.9rem;
    width: 60px;
    text-align: center;
    background-color: var(--color-main-button-light);
}

.submitButtonContentContainer {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: center;
}

.submitButtonContentContainer > svg {
    width: 1rem;
    height: 1rem;
}
