.resultContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #ffe6a6;*/
}

.resultContentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-background);
    padding: 25px;
    border-radius: 8px;
}

.resultTitle {
    font-size: 2rem;
    font-family: Pretendard-Bold, serif;
}

.resultScore {
    font-size: 1.5rem;
    font-family: Pretendard-Bold, serif;

}

.chart {
    max-width: 650px;
    max-height: 400px;
    width: 100vw;
    height: 300px;
}

.afterButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
}

.afterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 5px;
    padding: 5px 10px;
    font-family: Pretendard-Bold, serif;
    font-size: 0.9rem;
    background-color: var(--color-main-button-light);
}

.afterButton > svg {
    width: 18px;
    height: 18px;
}