/* 메타데이터 */

.metaDataContainer {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    background-color: var(--light-background);
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

.titleAndDraftButtonContainer {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.quizTitleInput {
    flex: 1;
    font-family: Pretendard-Regular, serif;
    font-size: 14px;
    height: 25px;
}

/* 등록 문제 목록 */

.questionContainer {
    background-color: var(--light-background);
    border-radius: 5px;
    padding: 10px;
}

.question {
    display: flex;
    column-gap: 5px;
    align-items: flex-start;
}

.deleteButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 127px;
}

.quizDeleteButton {
    width: 25px;
    height: 25px;
    padding: 2px;
    background-color: #ffd4d4;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.quizDeleteButton:hover {
    background-color: #ff6767;
    color: white;
}

/* 문제 추가 버튼 */
.questionAddButton {
    display: flex;
    border: none;
    padding: 5px 10px 5px 10px;
    height: 35px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    background-color: #ffe6a6;
    border-radius: 3px;
}

.questionAddButton:hover {
    transform: scale(1.01); /* 5% 확대 */
}

.questionAddButton img {
    height: 100%;
}

.questionAddButton span {
    font-family: Pretendard-Bold, serif;
    font-size: 14px;
}


/*선택지 추가*/
.choiceAddButton {
    border: none;
    width: 100px;
    height: 117px;
    border-radius: 5px;
    background-color: #ffe6a6;
    cursor: pointer;
    font-family: Pretendard-Bold, serif;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out; /* 트랜지션 추가 */
}

.choiceAddButton:hover {
    transform: scale(1.05);
}


