/*반응형으로 만들기 위해 크기 별로 그리드 아이템의 크기를 조절할 필요가 있음.*/

.gridContainer {
    display: grid;
    padding: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr; /* 핵심 설정 */
    row-gap: 30px;
    column-gap: 40px;
}

.gridContainer > :first-child {
    grid-column: 1 / 3; /* 1번 열부터 3번 열 전까지 (2열 차지) */
    grid-row: 1 / 2;    /* 1번 행부터 3번 행 전까지 (2행 차지) */
}