.main {
    background-color: var(--light-background);
    text-decoration: none;
    height: 60px;
    padding: 12px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;

    margin-bottom: 12px;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}