:root {
    --color-google: #FFFFFF;
    --color-naver: #2DB400;
    --color-kakao: #FEE500;
    --color-discord: #7289DA;
    --color-github-dark: #24292e;
    --color-gitbub-light: #fafbfc;

    --color-main-button-light: #ffe6a6;
    --color-main-button-light-hover: #e6cf95;
    --color-main-button-dark: #837463;

    --color-shallow-gray: #eaeaea;
    --color-gray: #808080;

    --color-danger-background: #ffd4d4;
    --color-danger-hover: #ff6767;
    --color-emphasize: #ff8888;
    --color-emphasize-2: #63b55d;


    --color-light-background: #f6f6f6;
    /*--color-light-background: #f7f7f7;*/

}

.discord {
    background-color: var(--color-discord);
}

.google {
    background-color: var(--color-google);
}

.kakao {
    background-color: var(--color-kakao);
}

.naver {
    background-color: var(--color-naver);
}

.github_dark {
    background-color: var(--color-github-dark);
}

.github_light {
    background-color: var(--color-gitbub-light);
}

.text_white {
    color: white
}

.text_black {
    color: black
}

