.discord {
    background-color: #7289DA;
}

.google {
    background-color: white;
}

.kakao {
    background-color: #FEE500;
}

.naver {
    background-color: #2DB400;
}

.github_dark {
    background-color: #24292e;
}

.github_light {
    background-color: #fafbfc;
}

.text_white {
    color: white
}

.text_black {
    color: black
}