.main {
    text-decoration: none;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    border-radius: 8px;
    text-align: start;
    margin-top: 12px;

    max-width: 1200px;
    width: 100vw;
}

.footerDivider {
    border: none;
    border-top: 1px solid #d5d5d5;
    margin: 20px 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.description {
    font-size: .75rem;
    line-height: 1rem;
    color: #9c9c9c
}