.main {
    text-decoration: none;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    border-radius: 8px;
    text-align: center;
    margin-top: 12px;
}

.footerDivider {
    border: none;
    border-top: 1px solid #d5d5d5;
    margin: 20px 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}