.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}

.searchConditionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 1.6rem;
    padding: 5px 10px;
    background-color: var(--light-background);
    font-family: Pretendard-Bold, serif;
    font-size: 13px;
    text-align: center;
}

.searchConditionButton:hover {
    background-color: var(--color-main-button-light);
}

.selectedType {
    background-color: var(--color-main-button-light);
}

.searchInput {
    flex: 1;
    height: 1.6rem;
}

.searchButton {
    /*padding: 2px;*/
    display: flex;
    justify-content: center;
    align-items: center;


    height: 1.6rem;
    width: 1.6rem;
    background-color: var(--color-main-button-light);
    border-radius: 5px;
}

.searchButton:hover {
    background-color: var(--color-main-button-light-hover);
}

.searchButton:hover > svg {
    stroke: #333333
}

